   
:root {
    --base-color: #E2BFB3;
    --base-color-foncé: #86a1f0;
    --base-color-light: #f1e6e3;
  }
  


.Footer .social-icons img {
    width: 30px; /* Ajuster la taille des icônes */
}

.Footer #last_section,
.Footer #home {
    color: #0A1D56;
    /* Add any additional styles you want for these buttons */
}

.Footer .color {
    color: var(--base-color);
}

.Footer #copy {
    font-weight: bold;
    color: var(--base-color-foncé);
}